<h1>ngFor</h1>
<div>
    <div>
        <ul>
            <li *ngFor="let fruit of fruits; let i = index">
                {{ fruit }}
                <button
                    mat-icon-button
                    (click)="deleteFruit(i)">
                    <mat-icon>delete</mat-icon>
                </button>
            </li>
        </ul>
    </div>
    <div>
        <button *ngFor="let option of fruitOptions"
            mat-raised-button
            color="primary"
            (click)="addFruit(option)">
                Add {{ option }}
        </button>
    </div>
    <div>
        <app-ngswitch-demo [fruits]="fruits"></app-ngswitch-demo>
    </div>
</div>