<div>
    <a routerLink="/binding">Binding Demo</a>
</div>
<div>
    <a routerLink="/communication">Communication Demo</a>
</div>
<div>
    <a routerLink="/ngclass">ngClass Demo</a>
</div>
<div>
    <a routerLink="/ngfor">ngFor Demo</a>
</div>
<div>
    <a routerLink="/ngif">ngIf Demo</a>
</div>
<div>
    <a routerLink="/router/3">Router Demo</a>
</div>
<div>
    <a [routerLink]="['/router', '35']">Router Demo</a>
</div>
<div>
    <a routerLink="/newperson">Forms Demo</a>
</div>
<div>
    <a routerLink="/persons">Service Demo</a>
</div>

